body {
  font-family: 'Ubuntu', sans-serif;
    padding-top: 70px;
}
.season {font-size: 24px;}
.thanks{margin-top:200px;}
.jumbotron {
    margin-top: 50px;
}

.item {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
