  <blockqoute>
      <p style="font-size:1.5em">
        I'm Einar. I love clothes. <br>
        I've Watched Clueless when I was 10 years old. <br>
        Fast Forward. <br> 20 years passed by and I finally built
        my dream come true. <br> My Clueless like app. so no woman will ever say - <br>
        <span style="font-size:2.3em">I've got nothing to wear! </span> <br>
        That's why I've created <b>CLUESET</b>  <br>
        to help you get to know your closet. Better.
      </p>
  </blockqoute>
