<section>
  <div class="row">
      <div class="col-lg-12">
          <button type="button" class="btn btn-info" ng-click="sortType()">Sort by Type</button>
          <button type="button" class="btn btn-success" ng-click="sortColor()">Sort by Color</button>
      </div>
  </div>
  <br>
    <!-- Closet Items -->
    <div class="row text-center">
      <div ng-repeat="item in closet track by $index">
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
          <div class="col-md-3 col-sm-6 item thumbnail">
                <!--buttons-->
                <div class="pull-right">
                    <button type="button" style="background-color:none;" ng-click="calendarItem($index)"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    <button type="button" style="background-color:none;" ng-click="editItem(item._id)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button type="button" style="background-color:none;" ng-click="removeItem(item._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <!--the real deal-->
                <img ng-src="{{item.image}}" alt="" />
                <div class="caption">
                  <h4>{{item.type}} | {{item.brand}}</h4>
                    <span class="text-left"><strong>season: </strong> {{item.season}}</span> <br>
                    <div class="swatch" style="background-color:{{item.color}};border:1px solid black;height:25px;width:25px;">
                      &nbsp;&nbsp;&nbsp;
                    </div>
                        <button type="button" data-toggle="modal" data-target="#mix" class="btn btn-default">Mix & Match</button>

                        <!-- Modal -->
                        <div class="modal fade" id="mix" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Mix & Match</h4>
                              </div>
                              <div class="modal-body">
                                <div ng-repeat="item in closet track by $index">
                                    <div class="thumbnail text-center">
                                      <img ng-src="{{item.image}}" alt="" />
                                      <div class="caption">
                                        <h4>{{item.type}} | {{item.brand}}</h4>
                                          <span class="text-left"><strong>season: </strong> {{item.season}}</span> <br>
                                          <div class="swatch" style="background-color:{{item.color}};border:1px solid black;height:25px;width:25px;">
                                            &nbsp;&nbsp;&nbsp;
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <!-- <p>Some text in the modal.</p> -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                          </div>
                        </div>
                </div>
                <!--edit inputs-->
                <div class="editItems" ng-show="editMode">
                    <input type="text" placeholder="{{newItem.type}}" ng-model="editedItem.price"> <br>
                    <button type="button" style="background-color:none;" ng-click="saveEdit(editedItem, $index)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
<div ui-view></div>
