<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
        <form class="text-center" ng-submit="login()" name="loginForm">
          <div class="row well">
            <h2 class="col-md-12 text-center ">login
              <img class="hanger" src="../images/hanger.png" />
            </h2>
            <div class="row">
                  <div class="col-md-3 col-md-push-1" style="font-size:1.7em;margin-top:5px;">
                      <i class="fa fa-user " aria-hidden="true"></i>
                  </div>
                  <div class="col-md-6">
                      <input type="text " name="username" placeholder="user name" ng-model="user.username" ng-minlength="2" class="form-control" required/>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-push-2" ng-messages="loginForm.username.$error" style="color:maroon;margin-left:27px;" role="alert">
                       <div ng-message="required"> please fill in name </div>
                       <div ng-message="minlength"> your name is too short </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-md-push-1" style="font-size:1.7em;margin-top:5px;">
                        <i class="fa fa-lock " aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6">
                        <input type="password" placeholder="password" name="password" ng-pattern="/^(?=.*[a-z])(?=.*\d)(?=.*[A-Z]).{6,16}$/"
        ng-model="user.password" class="form-control" required/>
                    </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-md-push-2" ng-messages="loginForm.password.$error" style="color:maroon;padding-left:80px;" role="alert">
                <div ng-message="required"> please fill in password </div>
                <div ng-message="pattern">Password must include 6 characters including 1 uppercase letter and number</div>
            </div>
          </div><br>
          <div class="row">
              <div class="col-md-6 col-md-push-3">
                remember me
                <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="default">
                <br><br>
                <input type="submit" style="font-size:1.2em;background-color:pink;border:none;width:160px;"class="btn btn-success btn-md login"/> <br><br>
              </div>
          </div>
        </div>
        <div class="row">

        <div class="well col-md-12">
                <a class="btn btn-info btn-sm" style="width:160px;font-size:1.2em" ui-sref="register"> Create Account</a>
                <br> <br>

                <p class="text-muted" style="font-size:0.9em;">By signing up, you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a></p>
        </div>
      </div>

            </form>
          </div>
        </div>
      </div>
    <div ui-view></div>
