<header>
    <div class="row">
        <div class="col-lg-6 col-lg-push-1 col-md-6">
          <br>
            <img src="https://media.giphy.com/media/j666zW6xrD24E/giphy.gif" />
            <br> <br><br>
            <blockqoute>
                <p style="font-size:1.5em">
                  You know this scnerio by heart:<br>
                  you're standing in front of your closet <br>
                  and after a while you hold your head and cry: <br>
                  <span class="h1">I've got nothing to wear! </span> <br>
                  That's why I've created <b>CLUESET</b>  <br>
                  to help you get to know your closet. better.
                </p>
            </blockqoute>
        </div>

        <div class="col-lg-6 col-lg-push-1 col-md-6 pull-right">
            <img class="hanger" src="images/hanger.png" />
            <h4><em>INDEX YOUR CLOSET</em></h4>
            <form class="form" name="addForm" ng-submit="addItem(newItem)">

                <label> select type:
                </label>
                <select class="form-control" style="width:300px;" required ng-model="newItem.type">
                  <optgroup label="pants">
                    <option value="leggings">Leggings</option>
                    <option value="pants">Pants</option>
                    <option value="tights">Tights</option>
                    <option value="shorts">Shorts</option>
                    <option value="skinny">Skinny</option>
                  </optgroup>
                  <optgroup label="tops">
                    <option value="blouse">Blouse</option>
                    <option value="crop">Crop Top</option>
                    <option value="tank">Tank Top</option>
                    <option value="long">Long Sleeve</option>
                    <option value="short">Short Sleeve</option>
                    <option value="tunic">Tunic</option>
                  </optgroup>
                  <optgroup label="coats">
                    <option value="sweater">Sweater</option>
                    <option value="jacket">Jacket</option>
                    <option value="coat">Coat</option>
                    <option value="rainCoat">Rain Coat</option>
                    <option value="sportJacket">Sport Jacket</option>
                  </optgroup>
                  <optgroup label="skirts">
                    <option value="mini">Mini Skirt</option>
                    <option value="midi">Midi Skirt</option>
                    <option value="maxi">Maxi Skirt</option>
                    <option value="pencil">Pencil Skirt</option>
                    <option value="asymmetrical">Asymmetrical Skirt</option>
                  </optgroup>
                  <optgroup label="dresses">
                    <option value="dress">Dress</option>
                    <option value="strapless">Strapless</option>
                    <option value="backless">Backless</option>
                    <option value="blackdress">Little Black Dress</option>
                  </optgroup>
                  <optgroup label="other">
                    <option value="vest">Vest</option>
                    <option value="jumpsuit">Jumpsuit</option>
                    <option value="romper" ng-if="newItem.type">Romper</option>
                    <option value="other" ng-if="newItem.type">Other</option>
                  </optgroup>
              </select>
                <label for="color">Pick the Color:
                <color-picker class="color" ng-model="newItem.color"></color-picker>
              </label> <br>
              <div class="brand">
                  <label for="brand">brand </label>
                  <input type="text" required class="brand form-control" placeholder="type in brand" ng-model="newItem.brand">
             </div>
             <label for="season">season
               <div class="btn-toolbar" role="toolbar">
                   <div class="btn-group season" role="group" ng-selected="newItem.season" ng-model="selected" required>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'summer'" type="button" ><i class="fa fa-sun-o" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'winter'" type="button"><i class="fa fa-umbrella" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'fall'" type="button" ><i class="fa fa-leaf" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'spring'" type="button"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span></button>
                   </div>
              </div>
            </label>
            <br>
            <label for="image">upload image:
              <!-- <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
            Upload File</button> -->
              <input type="text" class="form-control" name="image" ng-model="newItem.image" required>
            </label><br>

            <!-- <button type="submit" name="button" class="btn btn-info">Submit</button> <br> <br> -->
            <!-- <button type="button" class="btn btn-link btn-sm pricetag" ng-show="!sellForm" ng-click="sellFormBtn()">list your item</button> -->
        <!-- </form> -->
        <!-- <form class="form" name="saleForm" ng-submit="sellItem(newItem)" ng-show="sellForm"> -->
          <label for="size">Pick the size:
              <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group" role="group" ng-selected="newItem.size" ng-model="selected" required>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'xs'" type="button" >XS</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 's'" type="button">S</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'md'" type="button" >MD</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'lg'" type="button" >L</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'xl'" type="button" >XL</button>
                  </div>
             </div>
         </label>
            <br>
            <div class="price">
                <label for="price">price </label>
                <input type="number" min="0" class="price form-control" placeholder="price" ng-model="newItem.price" required>
            </div>
            <label for="fabric">fabric
              <select class="form-control" ng-selected="selected" ng-model="newItem.fabric" required>
                <option>Chiffon</option>
                <option>Corduroy</option>
                <option>Cotton</option>
                <option>Denim</option>
                <option>Flanel</option>
                <option>Fleece</option>
                <option>Jeans</option>
                <option>Kashmir</option>
                <option>Knit</option>
                <option>Satin</option>
                <option>Silk</option>
                <option>Suede</option>
                <option>Pleat</option>
                <option>Velvet</option>
                <option>Other </option>
              </select>
            </label>
            <label for="condition">condition
              <input type="text" class="form-control" placeholder="Describe condition" ng-model="newItem.condition" required>
               <!-- <select class="form-control" ng-selected="selected" ng-model="newItem.condition">
                 <option>New with tags!</option>
                 <option>Never been worn</option>
                 <option>Old but loveable</option>
                 <option>Vintage</option>
                 <option>Should go to donation</option>
                 <option>Other</option>
               </select> -->
            </label><br>
            <button type="submit" name="button" class="btn btn-info">Submit</button>
        </form>
        </div>
        <!--thank you div-->
        <div ng-show="thanks" class="text-center thanks">
            <p>Thank you!</p>
        </div>
    </div>
</header>
<div ui-view></div>
