<header>
    <div class="row">
        <div class="col-lg-6 col-lg-push-1 col-md-6">
          <br><br>
            <img src="https://media.giphy.com/media/j666zW6xrD24E/giphy.gif" />
            <br> <br><br>
            <h3>Recent Uploades</h3>
            <hr>
            <div ng-repeat="item in closet track by $index">
              <div class="clearfix" ng-if="$index % 5 == 0"></div>
                <div class="col-md-3 col-sm-6 item thumbnailShow">
                    <!--the real deal-->
                    <img ng-src="{{item.image}}" alt="" />
                    <br>
                    <div class="caption">
                        <p>{{item.brand}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-lg-push-1 col-md-6 pull-right">
            <img class="hanger" src="images/hanger.png" />
            <h4><em>INDEX YOUR CLOSET</em></h4>
            <form class="form" name="addForm" ng-submit="addItem(newItem)">
                <label> Select Type
                </label>
                <select class="form-control" style="width:300px;margin-bottom:10px;" required ng-model="newItem.type">
                  <optgroup label="pants">
                    <option value="leggings">Leggings</option>
                    <option value="pants">Pants</option>
                    <option value="tights">Tights</option>
                    <option value="shorts">Shorts</option>
                    <option value="skinny">Skinny</option>
                  </optgroup>
                  <optgroup label="tops">
                    <option value="blouse">Blouse</option>
                    <option value="crop">Crop Top</option>
                    <option value="tank">Tank Top</option>
                    <option value="long">Long Sleeve</option>
                    <option value="short">Short Sleeve</option>
                    <option value="tunic">Tunic</option>
                  </optgroup>
                  <optgroup label="coats">
                    <option value="sweater">Sweater</option>
                    <option value="jacket">Jacket</option>
                    <option value="coat">Coat</option>
                    <option value="rainCoat">Rain Coat</option>
                    <option value="sportJacket">Sport Jacket</option>
                  </optgroup>
                  <optgroup label="skirts">
                    <option value="mini">Mini Skirt</option>
                    <option value="midi">Midi Skirt</option>
                    <option value="maxi">Maxi Skirt</option>
                    <option value="pencil">Pencil Skirt</option>
                    <option value="asymmetrical">Asymmetrical Skirt</option>
                  </optgroup>
                  <optgroup label="dresses">
                    <option value="dress">Dress</option>
                    <option value="strapless">Strapless</option>
                    <option value="backless">Backless</option>
                    <option value="blackdress">Little Black Dress</option>
                  </optgroup>
                  <optgroup label="other">
                    <option value="vest">Vest</option>
                    <option value="jumpsuit">Jumpsuit</option>
                    <option value="romper" ng-if="newItem.type">Romper</option>
                    <option value="other" ng-if="newItem.type">Other</option>
                  </optgroup>
              </select>
                <label for="color">Pick the Color
                <color-picker class="color" ng-model="newItem.color"></color-picker>
              </label> <br>
              <div class="brand">
                  <label for="brand">Brand </label>
                  <input type="text" style="margin-bottom:10px;" required class="brand form-control" placeholder="type in brand" ng-model="newItem.brand">
             </div>
             <label for="season">Season
               <div class="btn-toolbar" role="toolbar">
                   <div class="btn-group season" role="group" ng-selected="newItem.season" ng-model="selected" required>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'summer'" type="button" ><i class="fa fa-sun-o" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'winter'" type="button"><i class="fa fa-umbrella" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'fall'" type="button" ><i class="fa fa-leaf" aria-hidden="true"></i></button>
                       <button class="btn btn-default btn-sm" ng-click="newItem.season = 'spring'" type="button"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span></button>
                   </div>
              </div>
            </label>
            <br>
            <label for="image">Upload Image
              <input type="text" class="form-control" style="padding-bottom: 11px;" name="image" ng-model="newItem.image" required>
            </label><br>

          <label for="size">* Pick the Size
              <div class="btn-toolbar" style="padding-bottom: 11px;" role="toolbar">
                  <div class="btn-group" role="group" ng-selected="newItem.size" ng-model="selected">
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'xs'" type="button" >XS</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 's'" type="button">S</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'md'" type="button" >MD</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'lg'" type="button" >L</button>
                      <button class="btn btn-default btn-sm" ng-click="newItem.size = 'xl'" type="button" >XL</button>
                  </div>
             </div>
         </label>
            <br>
            <div class="holder">
                <div class="price">
                    <label for="price">* Price </label>
                    <input type="number" min="0" class="price form-control" placeholder="price" ng-model="newItem.price">
                </div>
                <label for="fabric">&nbsp;* Fabric
                  <select class="fabric form-control" style="margin-left:5px;" ng-selected="selected" ng-model="newItem.fabric">
                    <option>Chiffon</option>
                    <option>Corduroy</option>
                    <option>Cotton</option>
                    <option>Denim</option>
                    <option>Flanel</option>
                    <option>Fleece</option>
                    <option>Jeans</option>
                    <option>Kashmir</option>
                    <option>Knit</option>
                    <option>Satin</option>
                    <option>Silk</option>
                    <option>Suede</option>
                    <option>Pleat</option>
                    <option>Velvet</option>
                    <option>Other </option>
                  </select>
                </label>
                <label for="condition">&nbsp;&nbsp;* Condition
                   <select class="condition form-control" style="margin-left:12px;" ng-selected="selected" ng-model="newItem.condition">
                     <option>New with tags!</option>
                     <option>Never been worn</option>
                     <option>Old but loveable</option>
                     <option>Can't stop wearing it</option>
                     <option>Vintage</option>
                     <option>Should go to donation</option>
                     <option>Other</option>
                   </select>
                </label>
              </div>
              <p class="text-muted">* Optional fields </p>


            <button type="submit" name="button" class="btn btn-info">Submit</button>
        </form>
        </div>
    </div>
</header>
<div ui-view></div>
