<section>
  <div class="row">
      <div class="col-lg-12">
          <h1>Recent items for sale</h1>
      </div>
  </div>
  <br>
    <!-- Closet Items -->
    <div class="row text-center">
        <div ng-repeat="item in closet track by $index">
          <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3 col-sm-6 item thumbnailShop">
                <!--buttons-->
                <div class="pull-right">
                    <!-- <button type="button" style="background-color:none;" ng-click="calendarItem($index)"><i class="fa fa-calendar" aria-hidden="true"></i></button> -->
                    <!-- <button type="button" style="background-color:none;" ng-click="editItem(item._id)"><i class="fa fa-edit" aria-hidden="true"></i></button> -->
                    <button type="button" style="background-color:none;" ng-click="removeItem(item._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <!--the real deal-->
                <img ng-src="{{item.image}}" alt="" />
                <div class="caption">
                    <h4>{{item.type}} | {{item.brand}}</h4>
                    <h4><span class="pricetag">{{item.price | currency}}</span> | &nbsp;
                    <span class="swatch" style="background-color:{{item.color}};border:1px solid black;">
                    &nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; | &nbsp; <span style="font-size:1.2em">{{item.size}} </span> &nbsp;</h4>
                    <p class="text-left">
                        <strong>fabric:</strong> {{item.fabric}}<br>
                        <strong>condition:<strong> {{item.condition}} <br>
                    <strong>season: </strong> {{item.season}}
                    </p>
                    <p>
                        <a href="https://www.paypal.com" target=_blank  class="btn btn-primary">Buy Now!</a>
                        <!-- <a href="#" class="btn btn-default">Mix & Match</a> -->
                    </p>
                </div>
                <!--edit inputs-->
                <div class="editItems" ng-show="editMode">
                    <input type="text" placeholder="{{newItem.type}}" ng-model="editedItem.price"> <br>
                    <button type="button" style="background-color:none;" ng-click="saveEdit(editedItem, $index)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<div ui-view></div>
